# Machine Learning - Titanic #

In [2]:
import pandas as pd
import numpy as np

In [21]:
train_file = r'C:\Users\T-Gamer\Desktop\Machine Learning\train.csv'
test_file = r'C:\Users\T-Gamer\Desktop\Machine Learning\test.csv'

In [22]:
train = pd.read_csv(train_file)
test = pd.read_csv(test_file)

In [29]:
train.head()

,PassengerId,Survived,Pclass,Name,Sex,Age,SibSp,Parch,Ticket,Fare,Cabin,Embarked,Sex_binarie
0,1,0,3,"Braund, Mr. Owen Harris",male,22.0,1,0,A/5 21171,7.2500,NaN,S,0
1,2,1,1,"Cumings, Mrs. John Bradley (Florence Briggs Th...",female,38.0,1,0,PC 17599,71.2833,C85,C,1
2,3,1,3,"Heikkinen, Miss. Laina",female,26.0,0,0,STON/O2. 3101282,7.9250,NaN,S,1
3,4,1,1,"Futrelle, Mrs. Jacques Heath (Lily May Peel)",female,35.0,1,0,113803,53.1000,C123,S,1
4,5,0,3,"Allen, Mr. William Henry",male,35.0,0,0,373450,8.0500,NaN,S,0

In [24]:
from sklearn.ensemble import RandomForestClassifier

In [26]:
model = RandomForestClassifier(n_estimators=100, n_jobs=-1, random_state=0)

In [25]:
train['Sex'].value_counts()

male      577
female    314
Name: Sex, dtype: int64

In [28]:
def change_sex(valor):
    if valor == 'female':
        return 1
    else:
        return 0
    
train['Sex_binarie'] = train['Sex'].map(change_sex)

In [31]:
var = ['Sex_binarie', 'Age']

In [32]:
x = train[var]
y = train['Survived']

In [33]:
x.head()

   Sex_binarie   Age
0            0  22.0
1            1  38.0
2            1  26.0
3            1  35.0
4            0  35.0

In [34]:
y.head()

0    0
1    1
2    1
3    1
4    0
Name: Survived, dtype: int64

In [36]:
model.fit(x, y)

ValueError: Input contains NaN, infinity or a value too large for dtype('float32').

In [37]:
x = x.fillna(-1)

In [38]:
model.fit(x, y)

RandomForestClassifier(n_jobs=-1, random_state=0)

In [40]:
test['Sex_binarie'] = test['Sex'].map(change_sex)

In [43]:
x_prev = test[var]
x_prev = x_prev.fillna(-1)

In [44]:
p = model.predict(x_prev)

In [49]:
sub = pd.Series(p, index=test['PassengerId'])